on: [push]

name: mabl

jobs:
  test:
    name: Mabl Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Install dependencies
        run: npm ci

      - name: Compile typescript
        run: npm run build

      - name: Install mabl CLI
        uses: ./
        env:
          MABL_API_KEY: ${{ secrets.MABL_API_KEY }}
        with:
          # Try both variants
          workspace: 4U_SVbTOimwP0txQVsPBew-w
          workspace_id: 4U_SVbTOimwP0txQVsPBew-w

      - name: List applications
        run: mabl applications list
